.working{
    opacity: 10;
    transform: matrix(1, 0, 0, 1, 0, 0);
    color: rgb(255, 0, 162);
}

:hover.workimg{
    transform: translateY(-15px);
}

/* :hover.work{

background-color: brown;

} */