.zoom-in-on-scroll {
    opacity: 0;
  }
  
  [data-aos='zoom-in'] {
    opacity: 1;
    transition: opacity 0.1s, transform 0.9s;
    
  }
  
  [data-aos='zoom-in'].aos-animate {
    transform: scale(30);
  }

  .prev-button:before,
.next-button:before {
  color: rgb(29, 7, 94);
}