.slick-prev:before,
.slick-next:before {
  color: rgb(29, 7, 94);
  
}



.landingone {
    background-color: linear-gradient(
        to left,
        rgba(1, 106, 134, 0.521),
        rgba(3, 29, 34, 0.9)
      ),
      /* url("https://i.ibb.co/QP33199/slider1.jpg"); */
  }
  .landingtwo {
    background-image: linear-gradient(
        to left,
        rgba(1, 106, 134, 0.521),
        rgba(3, 29, 34, 0.9)
      ),
      url("https://i.ibb.co/2YtW38S/1s.png");
  }
  .landingthree {
    background-image: linear-gradient(
        to left,
        rgba(1, 106, 134, 0.221),
        rgba(3, 29, 34, 0.9)
      ),
      url("https://i.ibb.co/XsTC1Gz/wave.jpg");
  }
  .landingfour {
    background-image: linear-gradient(
        to left,
        rgba(3, 19, 24, 0.521),
        rgba(3, 29, 34, 0.9)
      ),
      url("https://images.hindustantimes.com/rf/image_size_630x354/HT/p2/2019/11/23/Pictures/themselves-recruitment-hindustan-november-preparing-different-exercise_d4520c4a-0d5c-11ea-8f6b-23ce1c606bc4.jpg");
  }