/* .diamond {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(30deg);
} */

.my-button {
  background: linear-gradient(90deg, #ff6c6c, #970c1afe);
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.my-button:hover {
  animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

 .card {
 
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(213, 211, 211, 0.923);
  transition: background-color 0.5s;
}

.card:hover {
  background: linear-gradient(to right, #38235D, #ab4059);
}
.diamond {
  /* width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color:white; */
  /* background-color: rgb(222, 39, 39); */
  /* background-image: radial-gradient(circle, #100910 0%, #5315159d 100%); */
  /* background: linear-gradient(90deg, white 0%, white 100%); */
  
}
.image-container {
  /* width: 200px;
  height: 200px; */
  position: relative;
  overflow: hidden;
}

.image-container img {
  /* width: 100%;
  height: 100%; */
  transition: transform 0.3s;
}

.image-container:hover img {
  transform: rotate(360deg);
}

/* .diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
} */
 
