/* .diamond {
  width: 100px;
  height: 100px;
  background-color: red;
  transform: rotate(30deg);
} */

.diamond {
  /* width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color:white; */
  /* background-color: rgb(222, 39, 39); */
  /* background-image: radial-gradient(circle, #100910 0%, #5315159d 100%); */
  background: linear-gradient(90deg, white 0%, white 100%);
}
/* .diamond:after {
  content: '';
  position: absolute;
  left: -50px;
  top: 50px;
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-top-color: red;
} */

@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 114.25,256.25 228.5,212.5 337,235 C 445.5,257.5 548.2500000000001,346.25000000000006 672,387 C 795.7499999999999,427.74999999999994 940.5,420.5 1072,398 C 1203.5,375.5 1321.75,337.75 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  25% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 157.10714285714283,316.6071428571429 314.21428571428567,333.2142857142857 421,351 C 527.7857142857143,368.7857142857143 584.2500000000001,387.75 673,394 C 761.7499999999999,400.25 882.7857142857142,393.7857142857143 1016,376 C 1149.2142857142858,358.2142857142857 1294.607142857143,329.1071428571429 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  50% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 97.67857142857142,274.07142857142856 195.35714285714283,248.14285714285717 315,278 C 434.64285714285717,307.85714285714283 576.2500000000001,393.5 707,411 C 837.7499999999999,428.5 957.6428571428571,377.8571428571429 1078,348 C 1198.357142857143,318.1428571428571 1319.1785714285716,309.07142857142856 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  75% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 84.57142857142858,242.64285714285714 169.14285714285717,185.28571428571428 294,221 C 418.85714285714283,256.7142857142857 584,385.5 707,396 C 830,406.5 910.8571428571429,298.71428571428567 1026,263 C 1141.142857142857,227.2857142857143 1290.5714285714284,263.64285714285717 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
  100% {
    d: path(
      "M 0,600 C 0,600 0,300 0,300 C 114.25,256.25 228.5,212.5 337,235 C 445.5,257.5 548.2500000000001,346.25000000000006 672,387 C 795.7499999999999,427.74999999999994 940.5,420.5 1072,398 C 1203.5,375.5 1321.75,337.75 1440,300 C 1440,300 1440,600 1440,600 Z"
    );
  }
}
