.newslanding{
    background-image: linear-gradient(
      to left,
      rgba(40, 83, 95, 0.521),
      rgba(6, 21, 24, 0.9)
    ),
    url("../../assets/landingnine.jpg");
    height: auto;
  width: 100%;
  /* background-size: contain; */
  background-size: cover;

  background-size: 100% 85%;

  background-repeat: no-repeat;
}