.aboutlanding {
  background-image: linear-gradient(
      to left,
      rgba(2, 9, 11, 0.521),
      rgba(3, 29, 34, 0.9)
    ),
    url("../../assets/aloneabout.jpg");
  height: auto;
  width: 100%;
  /* background-size: contain; */
  background-size: cover;

  background-size: 100% 90%;
  
  background-repeat: no-repeat;
}


.diamond {
  /* width: 200px;
  height: 200px; */
  /* background-image: url('path/to/your/image.jpg'); */
  background-size: cover;
  transform: rotate(45deg) skew(20deg, 20deg);
}
